doctype html
html(lang='en')
    head
        title 分子動能
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.css')
    body
        include template/header.pug
        .main
            div
                .article.section1
                    .paragraph1
                        h1 2018年 地表最強 引擎優化
                        h3 10年老車 20年以上骨董車 全面適用
                .blank Lorem ipsum dolor sit amet.
                .article.section2
                    .paragraph2
                        h3 降低 引擎工作溫度 保護引擎
                        h3 提升汽車動能 30% 以上
                        h3 降低廢氣汙染 接近零
                        h3 燃料節省使用 30% 以上
                .blank
                .article.section3
                    .paragraph3
                        h3 白、黃、紅牌機車全都適用，汽油、柴油、瓦斯、油電車皆可安裝
        include template/footer.pug

                