doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/product.css')
        link(rel='stylesheet', href='css/style.css')
    body
        include template/header.pug
        .productList
            .item
                img.photo(src='img/M44101681_big.jpg', alt='')
                .text
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vero.
            .item
                img.photo(src='img/M44101681_big.jpg', alt='')
                .text
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vero.
        include template/footer.pug
