footer.page-footer.font-small.blue.pt-4
  .container-fluid.text-center.text-md-left
    .row
      .col-md-6.mt-md-0.mt-3
        h5.text-uppercase 分子動能｜身心靈環保工程
        p Here you can use rows and columns to organize your footer content.
      hr.clearfix.w-100.d-md-none.pb-3
      .col-md-3.mb-md-0.mb-3
        // Links
        h5.text-uppercase Links
        ul.list-unstyled
          li
            a(href='#!') Facebook
          li
            a(href='#!') Line
          li
            a(href='#!') Link 3
          li
            a(href='#!') Link 4
  .footer-copyright.text-center.py-3
    | © 2019 Copyright:
    a(href='https://mdbootstrap.com/education/bootstrap/')  MoleculePower.com
