#header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand(href='index.html') 分子動能
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='index.html')
            | 首頁 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='feedback.html') 客戶心得
        li.nav-item
          a.nav-link(href='product.html') 商品
        li.nav-item
          a.nav-link(href='contact.html') 聯絡我們
    a.navbar-text(href='login.html') 登入
    span.navbar-text ｜
    a.navbar-text(href='register.html') 註冊
