#header {
    position: fixed;
    width: 100%;
    font-size: 18px;
}
.navbar-brand{
    font-size: 24px;
}
.productList {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
}
.item {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    margin-top:50px;
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
.photo {
    width: 350px;
    height: 350px;

}